:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
  max-width: 999999px;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007BFF;
  color: white;
}

button:disabled {
  background-color: #ccc;
}

/* Page Layout */
.page2 {
  padding: 20px;
  margin: auto;
}

h1, h2 {
  font-size: 24px;
  color: #333;
}


/* Logo Container */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.placeholder-logo {
  width: 150px;
  height: 150px;
}

/* Buzzwords List */
.buzzwords-list {
  list-style-type: none;
  padding: 0;
}

.buzzword-item {
  background-color: #f0f0f0;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bold;
}



.actions {
  display: flex;
  justify-content: space-between;
}

.copy-button,
.download-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.copy-button:hover,
.download-button:hover {
  background-color: #218838;
}

.back-button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #c82333;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

